.git
.gitignore
.env
.venv
venv
env
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
build
dist
*.pyc
*.pyo
*.pyd
.DS_Store
docs
.cache
.huggingface
**/.cache
**/.huggingface
*.bin
*.pt
*.pth
*.safetensors
*.onnx
